annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
blinker==1.8.1
blis @ file:///work/perseverance-python-buildout/croot/cython-blis_1698851311333/work
Brotli @ file:///croot/brotli-split_1714483155106/work
catalogue @ file:///croot/catalogue_1703688140886/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1697837790453/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
confection @ file:///croot/confection_1703694702568/work
cymem @ file:///work/perseverance-python-buildout/croot/cymem_1698847266016/work
Flask==3.0.3
gensim==4.3.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
itsdangerous==2.2.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
joblib==1.4.0
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
murmurhash @ file:///work/perseverance-python-buildout/croot/murmurhash_1698847587899/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=b8e59fcb10ab071cbeded47aed247ddfa1c902d595848c27f82021340e226134
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
preshed @ file:///work/perseverance-python-buildout/croot/preshed_1698863378253/work
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl#sha256=a3a8eed42c600af17c70ed3c8720ffe2879b5353055e66fe0c998306329052fd
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1703248379805/work
pydantic_core @ file:///croot/pydantic-core_1709573961665/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
scikit-learn==1.4.2
scipy==1.12.0
setuptools==68.2.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_split_1694066705667/work/dist
spacy @ file:///croot/spacy_1704840091834/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///croot/srsly_1703691906109/work
thinc @ file:///croot/thinc_1704703966695/work
threadpoolctl==3.5.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1711217621866/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1668249950899/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1699295455892/work
Werkzeug==3.0.2
wheel==0.41.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work